{% extends 'base.html.twig' %}

{% block title %}FicheFrais index{% endblock %}

{% block body %}
    <h1>Les fiches frais de {{ app.user.nom }} {{ app.user.prenom }}</h1>
    {{ form_start(form) }}
        {{ form(form) }}
    {{ form_end(form) }}
    <table>
        <tr>
            <th>Total des montants validé</th>
            <th>Nombre de justificatif</th>
            <th>Etat</th>
            <th>Date de modification</th>
            <th>Mois</th>
        </tr>
        {% for fiche in uneFicheMois %}
            <tr>
                <td>{{ fiche.montantValide }}</td>
                <td>{{ fiche.nbJustificatif }}</td>
                <td>{{ fiche.etat.libelle }}</td>
                <td>{{ fiche.dateModif|date('d-m-Y') }}</td>
                <td>{{ fiche.mois }}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>Forfait etape</th>
            <th>Frais kilométrique</th>
            <th>Nuité hotel</th>
            <th>Repas Restaurant</th>
        </tr>
        {% for fiche in uneFicheMois %}
            <tr>
                <td>{{ fiche.ligneFraisForfait[0].quantite }}</td>
                <td>{{ fiche.ligneFraisForfait[1].quantite }}</td>
                <td>{{ fiche.ligneFraisForfait[2].quantite }}</td>
                <td>{{ fiche.ligneFraisForfait[3].quantite }}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>Date</th>
            <th>Libelle</th>
            <th>Montant</th>
        </tr>
        {% for fiche in uneFicheMois %}
            <tr>
                <td>{{ fiche.ligneHorsForfait[0].date|date('d-m-Y') }}</td>
                <td>{{ fiche.ligneHorsForfait[0].libelle }}</td>
                <td>{{ fiche.ligneHorsForfait[0].montant }}</td>
            </tr>
        {% endfor %}
    </table>
    </body>
    </html>
    <div class="col">
        <a href="{{ path('app_fiche_frais_new') }}">
            <button class="btn btn-primary">Ajouter</button>
        </a>
    </div>
    </div>
        </tbody>
    </table>
{% endblock %}
