{% extends 'base.html.twig' %}

{% block title %}FicheFrais index{% endblock %}

{% block body %}
    <h1>Les fiches frais de {{ app.user.nom }} {{ app.user.prenom }}</h1>
    {{ form_start(form) }}
        {{ form(form) }}
    {{ form_end(form) }}
    <table>
        <tr>
            <th>Total des montants validé</th>
            <th>Nombre de justificatif</th>
            <th>Etat</th>
            <th>Date de modification</th>
            <th>Mois</th>
        </tr>
        {% for fiche in FicheFrais %}
            <tr>
                <td>{{ fiche.montantValide }}</td>
                <td>{{ fiche.nbJustificatif }}</td>
                <td>{{ fiche.etat.libelle }}</td>
                <td>{{ fiche.dateModif|date('d-m-Y') }}</td>
                <td>{{ fiche.mois }}</td>
            </tr>
        {% endfor %}
    </table>
    </body>
    </html>
    <div class="col">
        <a href="{{ path('app_fiche_frais_new') }}">
            <button class="btn btn-primary">Ajouter</button>
        </a>
    </div>
    </div>
        </tbody>
    </table>
{% endblock %}
