{% extends 'base.html.twig' %}

{% block title %}Hello SaisieFicheFraisController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{# <div>Fiche frais du {{ fiche_frai.dateModif }}</div>#}
<div class="example-wrapper">
    {{ form_start(formFF) }}
    {{ form_widget(formFF) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(formFF) }}
</div>
    <div class="example-wrapper">
        {{ form_start(formHF) }}
        {{ form_widget(formHF) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(formHF) }}
    </div>
{% endblock %}
