{% extends 'base.html.twig' %}

{% block title %}Hello LesFichesFraisDuUserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <h1>Les fiches frais de {{ app.user.nom }} {{ app.user.prenom }}</h1>

        <ul>
            {% for ficheFrais in fichesFraisDuUser %}
                <li>{{ ficheFrais.id }}-{{ ficheFrais.user.login }}-{{ ficheFrais.montantValide }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
